.error {
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-left: 25%;
    position: absolute;
    top: 20%;
    max-height: 150px;
    max-width: 50%;
}

body {
    background-color: rgb(221, 221, 221);
}
