.book-summary ul.summary li a, .book-summary ul.summary li span {
    padding: 2px 15px;
}

a[href^="http://"]:not([href*="sigma2.no"]):after,
a[href^="https://"]:not([href*="sigma2.no"]):after{
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

.navbar-brand {
    max-height: 137px;
    border: 10px;
    background-color: white;
    padding: 15px;
    display: inline-block;
    width:100%;
    position: fixed;
    z-index: 2;
}

.navbar-brand img {
    height: 39px;
}

.logo {
    height: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.down {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 7px;
    position: absolute;
    vertical-align: middle;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.right {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 8px;
    position: absolute;
    vertical-align: middle;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.book-summary ul.summary {
    padding-left: 15px;
}

#book-search-input {
    display: inline-block;
    width: 15%;
    position: absolute;
    right: 10px;
    top: 20px;
    text-align: right;
    margin: 0px !important;
    padding: 0px !important;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 7px;
}

.book-summary {
    top: auto !important;
    bottom: 0% !important;
    overflow-y: auto !important;
    z-index: 0 !important;
    top: 60px !important;
}

.book-body {
    overflow-y: auto !important;
}

.book {
    overflow-y: auto !important;
}
