.book-summary ul.summary li a, .book-summary ul.summary li span {
    padding: 2px 15px;
}

a[href^="http://"]:not([href*="sigma2.no"]):after,
a[href^="https://"]:not([href*="sigma2.no"]):after{
    content: " " url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII=);
}

.navbar-brand {
    max-height: 137px;
    border: 10px;
}

.navbar-brand img {
    height: 39px;
}

.down {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 7px;
    position: absolute;
    vertical-align: middle;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.right {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 2px;
    margin-top: 8px;
    position: absolute;
    vertical-align: middle;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.book-summary ul.summary {
    padding-left: 15px;
}
