.wy-side-nav-search, .wy-nav-top {
    background: #007c92;
}

.wy-menu, .wy-menu-vertical, .wy-nav-side {
    background: #51626f;
}

.wy-menu-vertical .caption-text {
    color: #ffffff;
}

.wy-grid-for-nav, .wy-nav-side {
    margin-top: 50px;
}